@tailwind base;
@tailwind components;
@tailwind utilities;

/* .webpage {
    background-color: #043353;
}

h1 {
    color: white;
}
button {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
} */